<div class="side-header">
  <div class="side-header-left">
    <a href="#" class="current-user-name">Tom</a>
  </div>
  <div class="side-header-left">
    <a href="#" class="create-chat-btn">チャットを作成する</a>
  </div> 
</div>
<div class="rooms-area">
  <div class="rooms">
    <a href="#" class="room">testroom1</a>
    <a href="#" class="room">testroom２</a>
    <a href="#" class="room">testroom２</a>
    <a href="#" class="room">testroom２</a>
    <a href="#" class="room">testroom２</a>
    <a href="#" class="room">testroom２</a>
    <a href="#" class="room">testroom２</a>
    <a href="#" class="room">testroom２</a>
    <a href="#" class="room">testroom２</a>
    <a href="#" class="room">testroom２</a>
  </div>
</div>  